.hello-messaging {
    padding: 10px 20px;
}

.message-container {
    display: flex;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
}

.message-bubble {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.message-bubble.left {
    margin-right: 10vh;
}

.message-bubble.right {
    margin-left: 10vh;
    background: #ffeefe;
}

.message-container.left {
    justify-content: flex-start;
}

.message-container.right {
    justify-content: flex-end;
}


.message-bubble.left::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 20px;
    border: 10px solid transparent;
    border-top-color: #f0f0f0;
}

.message-bubble.right::before {
    content: '';
    position: absolute;
    top: 100%;
    right: 20px;
    border: 10px solid transparent;
    border-top-color: #ffeefe;
}

.message-bubble p {
    margin: 0;
}

/* Анимация появления */
.message-bubble {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.message-bubble.show {
    opacity: 1;
    transform: translateY(0);
}

/*.typing-text {*/
/*    overflow: hidden; !* Скрываем текст, который выходит за пределы *!*/
/*    border-right: .15em solid orange; !* Добавляем курсор *!*/
/*    white-space: pre-wrap; !* Запрещаем перенос строки *!*/
/*    margin: 0 auto; !* Центрируем текст *!*/
/*    animation:*/
/*            typing 3.5s steps(40, end), !* Скорость набора *!*/
/*            blink-caret .75s step-end infinite; !* Мерцание курсора *!*/
/*}*/

/*!* Анимация набора текста *!*/
/*@keyframes typing {*/
/*    from { width: 0 }*/
/*    to { width: 100% }*/
/*}*/

.typing-text {
    font-family: monospace;
    white-space: normal;
    display: inline-block;
    border-right: 2px solid orange;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

.next-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#next-message {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #fff8c6;
    color: #5b4e00;
    border: 2px solid #d6c85a;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#next-message:active {
    background-color: #91bcf4;
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
    transform: scale(1.05);
}